<div class="container">
	<div class="row">
		<h1>specific game</h1>
		<p><%= @game.name %></p>
		<p><%= @game.author %></p>
		<p><%= @game.description %></p>
		<p><%= image_tag @game.image_url.to_s %></p>
		<p><%= @game.swflocation_url %></p>
		<object width="400" height="40"
		classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
		codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
		<param name="SRC" value="bookmark.swf">
		<embed src="<%= @game.swflocation_url %>" width="700" height="400"></embed>
		</object>
	</div>
</div>
